@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #111222;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px 100px;
  color: #fff;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title {
  margin-bottom: 50px;
  font-size: 4em;
}
.content {
  position: relative;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}
.content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.content .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 111;
}
.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}
.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
.media-icons {
  margin-top: 100px;
}
.media-icons a {
  color: #fff;
  font-size: 2em;
  margin: 60px;
}
.section-title {
  font-size: 3em;
  margin-bottom: 50px;
}
.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.info {
  width: 700px;
  margin-left: 50px;
}
.media-info {
  width: 400px;
  margin-left: 50px;
}
.media-info li {
  list-style: none;
  font-size: 1.4em;
}
.media-info li a {
  color: #fff;
  text-decoration: none;
}
.media-info li:not(:last-child) {
  margin-bottom: 50px;
}
.media-info li:nth-child(1),
.media-info li:nth-child(5) {
  padding-left: 100px;
}
.media-info li:nth-child(2),
.media-info li:nth-child(4) {
  padding-left: 50px;
}
.sec-03 {
  margin-bottom: 100px;
}

/*======= Media queries (max-width: 1010px) =======*/
@media screen and (max-width: 1010px) {
}

/*======= Media queries (max-width: 825px) =======*/
@media screen and (max-width: 825px) {
}

/*======= Media queries (max-width: 690px) =======*/
@media screen and (max-width: 690px) {
}

/*======= Media queries (max-width: 425px) =======*/
@media screen and (max-width: 425px) {
}

/*======= Reveal elements CSS =======*/
